body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}

#intro {
    font-size: 20px;
    font-weight: bold;
}

.highlight {
    background-color: yellow;
    padding: 10px;
}

section p {
    color: #555;
}

.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
}

/* box-sizing: content-box;

→ width = μόνο content

box-sizing: border-box;

→ width = content + padding + border */

/* content-box → το width αφορά μόνο το content
border-box → το width περιλαμβάνει ήδη content + padding + border
margin → είναι πάντα έξω από το box
για πλάτος μετράμε left + right
για ύψος top + bottom */